body {
    font-family: Arial, sans-serif;
    background-color: #e6e9e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width:100vh;
    margin: 0;
    flex-direction: column;
}
label{
    font-size:15px;
    /* font-style:italic; */
}
/* #rollno{
    width:400px;
    margin:5px;
    height:25px;
    font-style: italic;
    background-color: white;
    border-color:black solid;
    border-radius: 0px;
} */
#confession{
    width:400px;
    margin:5px;
    font-style: italic;
    background-color: white;
    border-color:black solid;
    border-radius: 8px;
    height:50px;
}

.fa-heart {
    color: red;
}
#h21,#h22{
    text-align: center;
    font-weight: 100;
}

.container {
    background:rgb(228, 169, 231);
    padding: 30px;
    display: flex;
    flex-direction: column;
    /* align-items:start; */
    /* justify-content:flex-start; */
    /* gap:10px; */
    margin-left: 100%;
    margin-top: 0%;
    width:100vb;
    height:80vh;
}
#h1{
    font-size: large;
    text-align: center;
}
#p1{
    text-align: center;
    
}
#post_confession,#get_confession{
    border-radius: 5px;
    font-size: 10px;
    width:150px;
    height:20px;
    font-weight: 200;
    font-style: italic;
}
#dispConf{
    text-align: center;
    color: black;
}

